{% comment %} ATTENTION!!! This is compiled version of custom-hero-banner-content.liquid and it is overriding automatically. You should use theme development tool and sources\snippets\custom-hero-banner-content.liquid file to code and save your changes. {% endcomment %}<div class="section_container">
  <div class="main_content container">
    <div class="main_wrapper">
      {% render 'hero__banner', set: section.settings %}
    </div>
  </div>
</div>

