{% comment %} ATTENTION!!! This is compiled version of sms-popup.liquid and it is overriding automatically. You should use theme development tool and sources\snippets\sms-popup.liquid file to code and save your changes. {% endcomment %}<div class="popup is-hidden" data-popup="sms-popup">
  <div class="popup-window">
    <button class="close" data-popup-close>
      {% render 'ea-icon' with 'icon-close' %}
    </button>
    <div class="popup-content">
      <h1>Test Popup</h1>
      </div>
    </div>
  <div class="popup-bg" data-popup-close></div>
</div>
