{% comment %} ATTENTION!!! This is compiled version of swipe-text.liquid and it is overriding automatically. You should use theme development tool and sources\snippets\swipe-text.liquid file to code and save your changes. {% endcomment %}<div class="swipe_text hide--desktop hide--tablet">
  swipe left or right to read more.
</div>