{% comment %} ATTENTION!!! This is compiled version of custom-richtext-page-our-story.liquid and it is overriding automatically. You should use theme development tool and sources\sections\custom-richtext-page-our-story.liquid file to code and save your changes. {% endcomment %}{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  <div class="section_container">
    <div class="main_content container" data-animate-block>

      <div class="title">{{ section.settings.title }}</div>
      <div class="subtitle">{{ section.settings.text }}</div>
      <div class="block_wrapper" data-hor-slider data-mobile-only="1" data-dots="false" data-arrows="false">
        {% for block in section.blocks %}
          <div class="block_item">
            <div class="item_title">{{ block.settings.title }}</div>
            <div class="item_text">{{ block.settings.text }}</div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>


{% endif %}



{% schema %}
{
  "name": "Richtext",
  "class": "custom-richtext-second",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "visible",
      "label": "Show block",
      "default": true
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Background",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ]
}
{% endschema %}