{% comment %} ATTENTION!!! This is compiled version of custom-menu-category.liquid and it is overriding automatically. You should use theme development tool and sources\sections\custom-menu-category.liquid file to code and save your changes. {% endcomment %}{% if section.settings.visible %}

  {% render 'ea-section-styles', section: section %}

  <div class="section_container">

    <div class="main_content container">

      <div class="main_wrapper">

        <div class="title not-animated">{{ section.settings.title }}</div>
        <div class="subtitle not-animated">{{ section.settings.text }}</div>
        <div class="categories">
          {% for block in section.blocks %}
            {% if block.settings.title != blank and block.settings.link != blank %}
              <div class="category">
                <a href="{{ block.settings.link }}" target="blank">{{ block.settings.title }}</a>                
              </div>
            {% endif %}
          {% endfor %}
        </div>

      </div>

    </div>

  </div>

{% endif %}


{% schema %}
{
  "name": "Page Main",
  "class": "menu-category",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "visible",
      "label": "Show block",
      "default": true
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Background",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}