{% comment %} ATTENTION!!! This is compiled version of ea-product-main-switch.liquid and it is overriding automatically. You should use theme development tool and sources\sections\ea-product-main-switch.liquid file to code and save your changes. {% endcomment %}{% render 'ea-product-main-content', section: section %}

{% schema %}
  {
  "name": "Product Main",
  "tag": "section",
  "class": "product-main-section",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "header",
      "content": "Upsell"
    },
    {
      "type": "checkbox",
      "id": "enable_upsell",
      "label": "Show Upsell",
      "default": true
    },
    {
      "type": "text",
      "id": "upsell_title",
      "label": "Title",
      "default": "Upsell"
    },
    {
      "type": "richtext",
      "id": "upsell_subtitle",
      "label": "Sub title",
      "default": "<p>Sub title</p>"
    },
    {
      "type": "select",
      "id": "upsell_pos",
      "options": [
        {
          "value": "top",
          "label": "Above add to cart button"
        },
        {
          "value": "bottom",
          "label": "Below add to cart button"
        }
      ],
      "default": "bottom",
      "label": "Position"
    },
    {
      "type": "header",
      "content": "Badge"
    },
    {
      "type": "checkbox",
      "id": "show_icon",
      "label": "Show Badge",
      "default": true
    },
    {
      "type": "html",
      "id": "icon",
      "label": "Badge"
    },
    {
      "type": "text",
      "id": "info",
      "label": "Info"
    },
    {
      "type": "text",
      "id": "compare_price",
      "label": "Compare Price"
    },
    {
      "type": "text",
      "id": "feature",
      "label": "Feature"
    },
    {
      "type": "text",
      "id": "plan_type",
      "label": "Plan type"
    },
    {
      "type": "text",
      "id": "plan_type_mob",
      "label": "Plan type (Mobile)"
    },
    {
      "type": "checkbox",
      "id": "d_mode",
      "label": "Inline",
      "default": true
    },
    {
      "type": "paragraph",
      "content": "Size Chart"
    },
    {
      "type": "image_picker",
      "id": "size_chart_img",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Back in stock"
    },
    {
      "type": "text",
      "id": "bis_badge",
      "label": "Label",
      "default": "Please notify me when back in stock."
    },
    {
      "type": "header",
      "content": "Whistle Plan"
    },
    {
      "type": "text",
      "id": "plan_title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "plan_text",
      "label": "Content"
    },
    {
      "type": "checkbox",
      "id": "is_plan_list",
      "label": "Make content list ?"
    },
    {
      "type": "header",
      "content": "Protection Plan"
    },
    {
      "type": "text",
      "id": "prot_desc_title",
      "label": "Title",
      "default": "Add product protection:"
    },
    {
      "type": "richtext",
      "id": "prot_desc_text",
      "label": "Description",
      "default": "<p>Get up to 1 year of accidental damage protection and expert technical support from Whistle.</p>"
    },
    {
      "type": "text",
      "id": "prot_btn_label",
      "label": "Button Label",
      "default": "Choose your protection plan:"
    },
    {
      "type": "header",
      "content": "Slide size guide"
    },
    {
      "type": "text",
      "id": "sg_title",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Video"
    },
    {
      "type": "text",
      "id": "v_title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "v_subtitle",
      "label": "Subtitle"
    },
    {
      "id": "video_url",
      "type": "video_url",
      "label": "Video URL",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "text",
      "id": "video_label",
      "label": "Video title",
      "default": "How To Measure"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Label",
      "default": "How To Measure"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Feature",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "checkbox",
          "id": "is_list",
          "label": "Make the content list ?"
        }
      ]
    },
    {
      "type": "size",
      "name": "Block",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}