{% comment %} ATTENTION!!! This is compiled version of collection.collar-leash.liquid and it is overriding automatically. You should use theme development tool and sources\templates\collection.collar-leash.liquid file to code and save your changes. {% endcomment %}<div class="sections-wrapper">
  {% comment %}{% section 'ea-collection' %}{% endcomment %}
  {% section 'custom-collection-collar-leash' %}
  <div data--hidden data-product-grid>
    {% section 'custom-product-grid' %}
  </div>
  {% section 'custom-size-guide' %}
</div>
