{% comment %} ATTENTION!!! This is compiled version of page.loyalty.liquid and it is overriding automatically. You should use theme development tool and sources\templates\page.loyalty.liquid file to code and save your changes. {% endcomment %}<div class="section page-section">
  <div class="container">
    <div class="yotpo-widget-instance" data-yotpo-instance-id="35933"></div>
  </div>
</div>
