{% comment %} ATTENTION!!! This is compiled version of page.UGC.liquid and it is overriding automatically. You should use theme development tool and sources\templates\page.UGC.liquid file to code and save your changes. {% endcomment %}<div class="container">
	<div class="yotpo yotpo-pictures-widget" data-gallery-id="6136c63c3debe44a035db322"></div>
</div>

<script type="text/javascript">
	(function e(){var e=document.createElement("script");
	e.type="text/javascript",e.async=true,
	e.src="//staticw2.yotpo.com/QbyU9U2DghNaYSxmwO9ZtKDcKu250oobXVL9K99o/widget.js";
	var t=document.getElementsByTagName("script")[0];
	t.parentNode.insertBefore(e,t)})();</script>