{% comment %} ATTENTION!!! This is compiled version of page.refer.liquid and it is overriding automatically. You should use theme development tool and sources\templates\page.refer.liquid file to code and save your changes. {% endcomment %}{% comment %}

{% comment %} ATTENTION!!! This is compiled version of page.refer.liquid and it is overriding automatically. You should use theme development tool and sources\templates\page.refer.liquid file to code and save your changes. {% endcomment %}
<div class="swell-whistle-rewards">
  <div class="swell-referral">
    <div class="yotpo-widget-instance" data-yotpo-instance-id="13565"
      share-copy-link-text="Copy Link"
      share-link-copied-text="Copied"
      share-facebook-button-text="Share"
      share-facebook-messenger-button-text="Message"
      share-twitter-button-text="Tweet"></div>
  </div>
</div>

{% endcomment %}


{% comment %} <div class="page-width"> {% endcomment %}
  <header class="section-header text-center">
  </header>
</br>
<div class="container" style="margin-bottom: 30px;">
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/iQmT6TKQmCkoaKVKXJHL0Q" async></script>
  <div class="yotpo-widget-instance" data-yotpo-instance-id="72924"></div>

  <div class="grid">
    <div class="grid__item medium-up--four-fifths medium-up--push-one-tenth">
      <div class="rte">
      </div>
    </div>
  </div>

</div>
{% comment %} </div> {% endcomment %}
